body {
  line-height: 1;
  background: #6265F8;
  font-family: "brandon-grotesque", "sans-serif";
  color: #fff;
}

input,
button {
  font-family: "brandon-grotesque", "sans-serif";
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
