@import "style/mixins";

.input {
  width: 100%;
  font-size: 60px;
  // background: rgba(255,255,255,0.2);
  background: rgb(128, 130, 244);
  border: none;
  padding: 14px 180px 14px 28px;

  // HAACKS
  color: #5EFCDB;  // Sets the caret
  text-shadow: 0px 0px 0px #FFF; // Sets the font back to white
  -webkit-text-fill-color: transparent;

  @include small {
    font-size: 45px;
    padding: 10px 14px;
  }
}

@include placeholder {
  color: rgba(255,255,255,0.3);
  text-shadow: none;
  -webkit-text-fill-color: initial;
}
