.button {
  border: none;
  background: #5EFCDB;
  border-radius: 50px;
  font-size: 24px;
  color: #000;
  padding: 15px 25px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 25px;
  cursor: pointer;
}
