@import "style/mixins";

.heading {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 100px;

  @include small {
    font-size: 70px;
  }
}

.primary {
  color: #5EFCDB;
  margin-right: 3px;
}

.secondary {
  font-weight: 900;
}
