.typewriter {
  font-size: 60px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  background: rgb(128, 130, 244);
  border: none;
  color: #fff;
  cursor: text;
}

.inner {
  position: absolute;
  // top: 0;
  top: 15px;
  left: 28px;

  &:after {
    content: '';
    display: inline-block;
    width: 1px;
    background: #5EFCDB;
    height: 87px;
    position: absolute;
    top: 0;
    margin-left: 8px;
    animation: blink 1s step-end infinite;
  }
}

@keyframes blink {
  from, to {
    background: transparent;
  }
  50% {
    background: #5EFCDB;
  }
}
