@import "style/mixins";

.typewriter {
  font-size: 60px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  background: rgb(128, 130, 244);
  border: none;
  color: #fff;
  cursor: text;

  @include small {
    font-size: 45px;
    overflow: hidden;
    width: 100%;
    height: 86px;
  }
}

.inner {
  position: absolute;
  top: 15px;
  left: 28px;

  @include small {
    top: 13px;
    left: 14px;
  }

  &:after {
    content: '';
    display: inline-block;
    width: 1px;
    background: #5EFCDB;
    height: 87px;
    position: absolute;
    top: 0;
    margin-left: 8px;
    animation: blink 1s step-end infinite;

    @include small {
      height: 62px;
    }
  }
}

@keyframes blink {
  from, to {
    background: transparent;
  }
  50% {
    background: #5EFCDB;
  }
}
