@import "style/mixins";

.app {
  text-align: left;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.stage {
  background: #6265F8 url("http://i.imgur.com/HArHps2.png") repeat left top;
  background-size: 400px 400px;
  padding: 130px 40px 160px 40px;

  @include small {
    padding: 30px 20px 100px 20px;
  }
}

.footer {
  font-size: 22px;
  line-height: 30px;
  padding: 70px 40px;

  p {
    margin-bottom: 15px;
  }

  a {
    color: #fff;
  }
}

.highlight {
  color: #5EFCDB;
  font-style: italic;
  margin-right: 3px;
}
