.survey {
  padding: 40px;
  text-align: left;
}

.intro {
  font-size: 27px;
  font-style: italic;
}

.question {
  margin-top: 20px;
  font-size: 80px;
}

.tellUs {
  color: #5EFCDB;
  margin-right: 3px;
}

.learn {
  font-weight: 900;
}
